<section class="">
    <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">
        About Me 
    </h1>

<div class="p-8">
 
    <p>
        I am a software developer with a passion for creating beautiful, functional, and responsive web applications.
    </p>
</div>

<!-- <div>
    <img class="githubstats" src="https://github-readme-stats.vercel.app/api/top-langs?username=crtlrodz&show_icons=true&locale=en&layout=compact&theme=radical" alt="crtlrodz" />
</div> -->