<section class="">
    <h1 class="title uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">
        About Me
    </h1>
</section>
<div class="container my-24 px-6 mx-auto">
    <section class="mb-32">
        <div class="flex flex-wrap">
            <!-- <div class="grow-0 shrink-0 basis-auto w-full lg:w-5/12 mb-12 lg:mb-0">
                <div class="flex lg:py-12">
                    <img src="https://mdbootstrap.com/img/new/standard/people/058.jpg" class="w-full rounded-lg shadow-lg" id="cta-img-nml-50" style="z-index: 10" alt="" />
                </div>
            </div> -->
            <div class="grow-0 shrink-0 basis-auto w-full lg:w-7/12">
                <div class="bg-gradient 0 h-full rounded-lg p-6 lg:pl-12 text-white flex items-center text-center lg:text-left">
                    <div class="lg:pl-12">
                        <h2 class="text-3xl font-bold mb-6">
                            “There is no Ctrl-Z in life.”
                        </h2>
                        <p class="mb-6 pb-2 lg:pb-0">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, sint, repellat vel quo quisquam accusamus in qui at ipsa enim quibusdam illo laboriosam omnis. Labore itaque illum distinctio eum neque!
                        </p>
                        <h3>TechStack</h3>
                        <div class="flex flex-col md:flex-row md:justify-around xl:justify-start mb-6 mx-auto">
                            <div class="flex md:flex-row md:justify-around xl:justify-start mb-6 mx-auto" *ngFor="let skill of skills">
                                <p class="flex items-center mb-4 md:mb-2 lg:mb-0 mx-auto md:mx-0 xl:mr-20">
                                    <img src="{{ skill.logo }}" class="w-10 h-10" alt="" /> {{ skill.name }}
                                </p>
                            </div>
                        </div>
                        <p>
                            Duis sagittis, turpis in ullamcorper venenatis, ligula nibh porta dui, sit amet rutrum enim massa in ante. Curabitur in justo at lorem laoreet ultricies. Nunc ligula felis, sagittis eget nisi vitae, sodales vestibulum purus. Vestibulum nibh ipsum, rhoncus
                            vel sagittis nec, placerat vel justo. Duis faucibus sapien eget tortor finibus, a eleifend lectus dictum. Cras tempor convallis magna id rhoncus. Suspendisse potenti. Nam mattis faucibus imperdiet. Proin tempor lorem at neque
                            tempus aliquet. Phasellus at ex volutpat, varius arcu id, aliquam lectus. Vestibulum mattis felis quis ex pharetra luctus. Etiam luctus sagittis massa, sed iaculis est vehicula ut.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>