<section >
    <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">
        Experience
    </h1>
<div class="projectDiv">
    <section class="">
        <section *ngFor="let experience of experiences">
            <h1>{{ experience.title }}</h1>
            <p>{{ experience.date }}</p>
            <p>{{ experience.company }}</p>
            <div *ngFor="let duty of experience.duties">
                <li>{{ duty }}</li>
            </div>
        </section>
    </section>
</div>

