<div class="projectDiv">
    <section class="">
        <section *ngFor="let experience of experiences">
            <mat-card class="py-4">
                <h1>{{ experience.title }}</h1>
                <p>{{ experience.date }}</p>
                <p>{{ experience.company }}</p>
                <div *ngFor="let duty of experience.duties">
                    <li>{{ duty }}</li>
                </div>

                <!-- <mat-card class="project p-8 bg-gradient-to-r from-cyan-400">
                <div *ngFor="let skill of experience.skills">
                    <li>{{ skill }}</li>
                </div>
            </mat-card> -->
            </mat-card>
        </section>
    </section>
</div>