<!-- Main Content -->

<h1 class="title uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">
    Projects
</h1>
<main class="container my-24 px-6 mx-auto">
    <div class="grid grid-cols-3 gap-4">
        <a *ngFor="let project of projects" class="flex flex-wrap">
            <div class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <!-- <div class="flex"> -->
                <img class="card-img-top rounded-tl-2xl w-full h-48" src="{{ project.projectImage }}" alt="" />
                <!-- </div> -->
                <div class="p-5">
                    <h2 class="text-3xl text-neutral-900 mb-2">
                        {{ project.ProjectName }}
                    </h2>

                    <p class="mb-0">
                        <span class="text-gray-400">{{ project.shortDescription }}</span>
                    </p>
                    <a [routerLink]="['/project', project.id]" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-2 py-2.5 text-center mr-2 mb-2">
            Details
          </a>
                    <a href="{{ project.sourceCode }}" target="_blank" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-2 py-2.5 text-center mr-2 mb-2">
            Source Code
          </a>
                </div>
            </div>
        </a>
    </div>
</main>