<header id="header" class="bg-secondary">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
        <!--  App Name -->
        <!-- <a class="title text-3xl text-gray-50 font-bold uppercase mr-4" href="index.html">CtrlRodz</a> -->
        <li class="flex px-5">
            <a href="index.html">
                <img class="inline-block" src="./assets/intelligence_brain_hemisphere_icon.png" alt="Cari-Anne Logo" />
            </a>
        </li>
        <a data-tooltip-target="tooltip-default" class="title text-3xl text-neutral-900 font-bold uppercase mr-4" href="#" (click)="openModal($event)" href="index.html">Cari-Anne Moore</a
    >
    <div
      id="tooltip-default"
      role="tooltip"
      class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700"
    >
      Contact Me
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <div class="flex flex-grow items-center">
      <!-- Primary Navigation -->
      <ul class="flex flex-row mt-1">
        <!-- Navigation Links -->

        <!-- <li>
          <a
            class="navlink px-2 text-neutral-900 subpixel-antialiased font-sans bolder"
            routerLink="/about"
            >About</a
          >
        </li> -->
        <li>
          <a
            class="navlink px-2 text-neutral-900 subpixel-antialiased font-sans bolder"
            routerLink="/experience"
            >Experience</a
          >
        </li>
        <li>
          <a
            class="navlink px-2 text-neutral-900 subpixel-antialiased font-sans bolder"
            routerLink="/project"
            >Projects</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>