@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");
.title {
    font-family: "Kalam", cursive;
}

.socialdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.icon:hover {
    /*  */
    background: linear-gradient(132deg, #1c7eee, #0ee661, #081ee0);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navlink:hover {
    filter: drop-shadow(16px 26px 20px rgba(78, 243, 2, 0.986));
}

img {
    width: 50px;
}