@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");
.title {
    font-family: "Kalam", cursive;
}

.socialdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.navlink:hover {
    filter: drop-shadow(0 0 2px rgb(16, 247, 247));
    text-decoration-line: underline;
}

img {
    width: 50px;
}