<app-modal modalID="auth">
    <p class="text-2xl font-bold text-cyan-400" heading>Contect Me</p>
    <app-tabs-container>
        <app-tab tabTitle="General Information">
            <!-- General Info -->
            <form>
                <div class="flex space-x-4 p-2">
                    <svg class="w-6 h-6 dark:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
            ></path>
          </svg>

                    <h3 class="text-neutral-900">Carianne.rodz@gmail.com</h3>
                </div>
            </form>
        </app-tab>
        <app-tab tabTitle="Social Media">
            <!-- Education -->
            <form>
                <div class="icons p-2">
                    <!-- inline contain wont make a new line -->
                    <span>
            <a
              href="https://www.linkedin.com/in/cari-anne-moore-36163111a/"
              target="_blank"
            >
              <img
                class="icon inline-block"
                src="../assets/linkedinIcon.svg"
                alt="LinkedIn Profile"
              />
            </a>
          </span>
                    <span>
            <a href="https://github.com/CrtlRodz" target="_blank">
              <img
                class="icon"
                src="../assets/github_icon.svg"
                alt="Github Profile"
              />
            </a>
          </span>
                    <span>
            <a href="https://www.hackerrank.com/carianne_rodz" target="_blank">
              <img
                class="icon"
                src="../assets/hackerrank_icon.png"
                alt="Hacker Rank Profile"
              />
            </a>
          </span>
                </div>
            </form>
        </app-tab>
    </app-tabs-container>
</app-modal>