<div *ngIf="!project">loading</div>

<div class="text-gray-900 grid grid-cols-1 lg:grid-cols-2 gap-4 container mx-auto" *ngIf="project">
    <img class="card-img-top rounded-tl-2xl w-full" src="{{ project.projectImage }}" />

    <div class="p-8">
        <h1 class="text-slate-900">{{ project.ProjectName }}</h1>
        <p class="mb-0">
            <span class="text-cyan-400">Date Created :{{ project.dateCreated }}</span>
        </p>
        <p>{{ project.longDescription }}</p>
        <mat-card>
            <h2 class="text-slate-900">TechStack</h2>
            <li *ngFor="let stack of project.techStack">
                {{ stack }}
            </li>
        </mat-card>
    </div>
</div>